@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    --primary-bg: #000;
    --primary-text: #fff;
    --primary-title: #f5f5f7;
    --primary-sub: #6e6e73;
    --primary-link: #2997ff;
    --secondary-text: #DED2B9;
    --secondary-title: #1d1d1f;
    --footer-link: #424245;
}

/* RESET CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

/* Header CSS */

header {
    background-color: var(--primary-bg);
    color: var(--primary-text);
    height: fit-content;
    position: sticky;
    top: 0;
    z-index: 2;
    padding: 10px 0;
    opacity: 0.8;
}

header nav ul {
    margin: 0 auto;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    /* padding: 0 2rem; */
}

header nav ul li {
    min-width: fit-content;
    height: fit-content;
    padding: 0 15px;
    cursor: pointer;
    list-style: none;
}

/* Main CSS */

main {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.a-sect {
    text-align: center;
    position: relative;
}

.a-sect h1 {
    color: var(--primary-title);
    font-size: 65px;
    line-height: 4rem;
    letter-spacing: -0.28px;
}

.a-sect h2 {
    color: var(--primary-sub);
    font-size: 32px;
    font-weight: normal;
    letter-spacing: 0.12px;
    margin-bottom: 1rem;
}

.a-sect sub {
    font-size: 18px;
}

.a-sect a {
    color: var(--primary-link);
    text-decoration: none;
    font-size: 17px;
    letter-spacing: -0.37px;
    cursor: pointer;
    margin-top: 15px;
}

.a-sect a:hover {
    text-decoration: underline;
    scale: 1.05;
}

.a-sect img {
    width: 100%;
    height: auto;
}

.text-section {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.b-sect {
    position: relative;
}

.b-sect img {
    width: 100%;
    height: auto;
}

.spirited {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.spirited-names {
    top: 110px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 60%;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: -0.6px;
    color: var(--secondary-text);
}

.spirited-text {
    color: var(--primary-title);
    display: block;
    position: absolute;
    bottom: 50px;
    text-align: center;
}

.spirited-text p {
    font-size: 28px;
    letter-spacing: 0.12px;
    color: var(--primary-title);
}

.spirited-text span {
    font-size: 22px;
    letter-spacing: 0.25px;
    color: var(--primary-text);
}

.c-sect {
    position: relative;
}

.c-sect img {
    width: 100%;
    height: auto;
}

.c-sect div {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.c-sect h1 {
    font-size: 56px;
    color: var(--secondary-title);
    letter-spacing: -0.28px;
}

.c-sect h2 {
    font-size: 28px;
    color: var(--secondary-title);
    letter-spacing: 0.12px;
}

.c-sect ul {
    font-size: 22px;
    width: 250px;
    display: flex;
    justify-content: space-between;
}

.c-sect a {
    color: var(--primary-link);
    text-decoration: none;
    font-size: 17px;
    letter-spacing: -0.37px;
    cursor: pointer;
    margin-top: 15px;
}

.c-sect a:hover {
    text-decoration: underline;
    scale: 1.05;
}

/* CATALOGO PRODUTOS */

.d-sect {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.section-catalog {
    position: relative;
}

.catalog {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.d-sect h1 {
    font-size: 40px;
    color: var(--secondary-title);
}

.black h1 {
    font-size: 40px;
    color: var(--primary-text);
}

.d-sect h2 {
    font-size: 20px;
    color: var(--primary-bg);
    font-weight: 100;
}

.black h2 {
    font-size: 20px;
    color: var(--primary-title);
    font-weight: 100;
}

.d-sect ul {
    font-size: 22px;
    width: 250px;
    display: flex;
    justify-content: space-around;
}

.d-sect a {
    color: var(--primary-link);
    text-decoration: none;
    font-size: 17px;
    letter-spacing: -0.37px;
    cursor: pointer;
    margin-top: 15px;
}

.d-sect a:hover {
    text-decoration: underline;
    scale: 1.05;
}

/* Carousel */

input {
    display: none;
}

.e-sect {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 10px;
    background-color: var(--secondary-title);
}

.e-sect div {
    width: 30%;
} 

.card img {
    width: 500px;
    height: 800px;
    border-radius: 10px;
}

.card {
    position: absolute;
    width: 500px;
    height: 800px;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    transition: transform 0.4s ease;
}

.carousel-container {
    width: 500px;
    height: 800px;
}

.cards {
    position: relative;
    width: 500px;
    height: 800px;
}

.a-div {
    color: var(--primary-title);
    font-size: 40px;
    font-weight: bold;
}

.a-div button {
    background-color: var(--primary-text);
    color: var(--primary-link);
    border: none;
    font-size: 18px;
    padding: 10px;
    border-radius: 25px;
    cursor: pointer;
}

.a-div button:hover {
    transform: scale(1.05);
    text-decoration: underline;
}

.b-div {
    color: var(--primary-title);
    font-size: 22px;
    font-weight: bold;
    text-align: end;
}

.b-div p:first-child {
    font-size: 18px;
}

#item-1:checked ~ .cards #img-5,
#item-2:checked ~ .cards #img-1,
#item-3:checked ~ .cards #img-2,
#item-4:checked ~ .cards #img-3,
#item-5:checked ~ .cards #img-4 {
    transform: translateX(-40%) scale(0.8);
    /* opacity: 0.4; */
    z-index: 1;
}

#item-1:checked ~ .cards #img-4,
#item-2:checked ~ .cards #img-5,
#item-3:checked ~ .cards #img-1,
#item-4:checked ~ .cards #img-2,
#item-5:checked ~ .cards #img-3 {
    transform: translateX(-70%) scale(0.5);
    opacity: 0.4;
    z-index: 0;
}

#item-1:checked ~ .cards #img-3,
#item-2:checked ~ .cards #img-4,
#item-3:checked ~ .cards #img-5,
#item-4:checked ~ .cards #img-1,
#item-5:checked ~ .cards #img-2 {
    transform: translateX(70%) scale(0.5);
    opacity: 0.4;
    z-index: 0;
}

#item-1:checked ~ .cards #img-2,
#item-2:checked ~ .cards #img-3,
#item-3:checked ~ .cards #img-4,
#item-4:checked ~ .cards #img-5,
#item-5:checked ~ .cards #img-1 {
    transform: translateX(40%) scale(0.8);
    /* opacity: 0.4; */
    z-index: 1;
}

#item-1:checked ~ .cards #img-1,
#item-2:checked ~ .cards #img-2,
#item-3:checked ~ .cards #img-3,
#item-4:checked ~ .cards #img-4,
#item-5:checked ~ .cards #img-5 {
    transform: translateX(0) scale(1);
    opacity: 1;
    z-index: 2;
}


/* FOOTER */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 50px;
    margin-top: 50px;
}

footer section {
    display: flex;
    justify-content: space-around;
    width: 80%;
}

footer section div ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

footer h3 {
    font-size: 12px;
    font-weight: bold;
    color: var(--secondary-title);
    letter-spacing: -0.12;
    margin: 12px 0;
}

footer a {
    font-size: 12px;
    text-decoration: none;
    color: var(--footer-link);
}

footer a:hover {
    text-decoration: underline;
}

.footer-p {
    margin-top: 25px;
    display: flex;
    font-size: 12px;
    color: var(--primary-sub);
    width: 80%;
    border-bottom: 1px solid var(--primary-sub);
    padding-bottom: 12px;
}

.footer-p a {
    font-size: 12x;
    color: var(--primary-link);
    margin: 0 3px;
}

.footer-link {
    margin-top: 25px;
    display: flex;
    font-size: 12px;
    color: var(--primary-sub);
    width: 80%;
}

.footer-link ul {
    display: flex;
    margin: 0 50px;
}

.footer-link ul a {
    border-right: 1px solid var(--primary-sub);
    padding: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-link ul a:last-child {
    border-right: none;
}